h1{
    border-bottom: 10px solid red !important;
}
#container{
    display: grid;
    grid-template-columns: 200px 1fr;
}
/*
body{
    background-image : url("https://picsum.photos/200/300");
    background-size: cover;
}
